section#credits h1,
section#glossary h1,
section#bibliography h1,
section#index h1{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--baseline);
    margin-bottom: calc(var(--baseline)*1);
    string-set: title content(text);

}


section#bibliography,
section#glossary,
section#index{
    break-before: right;
    page: backmatter;
}


@page backmatter :first{
    @top-left{ 
        content: none;
    }
}

section#credits{
    break-before: page;
}