#cover h1{
    font-size: calc(var(--font-size)*2.6);
    line-height: calc(var(--baseline)*1.6);
    font-weight: normal;
    font-variant: small-caps;
}

#cover h2{
    font-size: calc(var(--font-size)*1.6);
    line-height: calc(var(--baseline)*1.3);
    font-weight: normal;
    font-style: italic;
    margin-top: calc(var(--baseline)*1);
    margin-bottom: calc(var(--baseline)*6);
}


#cover h3{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--baseline);
    margin-bottom: calc(var(--baseline)*2);
    margin-top: calc(var(--baseline)*4);
}





#cover p{
    margin-top: var(--baseline);
    max-width: 46ch;
}



#cover p + p{
    text-indent: 0px;
}

#cover ul{
    border: 1px dotted currentColor;
    list-style-position: inside;
    padding: 2ch 4ch;
}