

::footnote-call{
    font-weight: bold;
    font-style: normal;
}

::footnote-marker{
    font-weight: bold;
}


/* NOTES */

.pagedjs_footnote_area .pagedjs_footnote{
    font-size: var(--font-size-small);
    line-height: calc(var(--baseline)*0.75);
    padding-left: 4ch;
    display: block;
    position: relative;
} 


/*  Hack for markers (because ::marker disappears when .paged_note is displayed as block) */
.pagedjs_footnote_area .pagedjs_footnote::before{
    content: attr(data-counter-note) ".";
    font-weight: bold;
    position: absolute;
    left: 0px!important;
}

/* Style footnote area ---------------- */
/* Don’t use padding or margin here → affect overflow */

.pagedjs_footnote_content{
    position: relative;
}

.pagedjs_footnote_content::before{
content: '';
display: block;
width: 5ch;
border-top: 2px solid currentColor;
position: absolute;
top: calc(var(--baseline)*0.5);
}



