#abstract, #toc{
    break-before: right;
}

#remerciements, #toc-section{
    break-before: right;
} 

#abstract h1{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--baseline);
    margin-bottom: calc(var(--baseline)*1);
    margin-top: calc(var(--baseline)*2);
}

