body {
    counter-reset: h2 0;
}

.chapter h2 {
    counter-increment: h2;
    counter-reset: h3;
}


.chapter h3 {
    counter-increment: h3;
    counter-reset: h4;
}

.chapter h3::before {
    content: counter(h2) "." counter(h3) ". ";
}

.chapter h4 {
    counter-increment: h4;
    counter-reset: h5;
}

.chapter h4::before {
    content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

.chapter h5 {
    counter-increment: h5;
    counter-reset: h6;
}

.chapter h5::before {
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}



.chapter h6 {
    counter-increment: h6;
}

.chapter h6::before {
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}