/* --- target-text(attr(href), before) doesn't work for now, replace with counters (see below)*/
/* 
#list-toc-generated[data-toc-style="leaders"] .toc-element a::before{
        content: target-text(attr(href), before);
} 
*/

 
 #list-toc-generated{ 
        counter-reset: counterTocLevel1; 
    }

    #list-toc-generated .toc-element-level-1:not(.no-counter){ 
        counter-increment: counterTocLevel1; 
        counter-reset: counterTocLevel2; 
    }

    #list-toc-generated .toc-element-level-1:not(.no-counter)::before{ 
        content: counter(counterTocLevel1) ". ";
        white-space: nowrap;
        padding-right: 5px;
    }

    #list-toc-generated .toc-element-level-2:not(.no-counter){ 
        counter-increment: counterTocLevel2; 
        counter-reset: counterTocLevel3;
    }

    #list-toc-generated .toc-element-level-2:not(.no-counter)::before{ 
        content: counter(counterTocLevel1) "." counter(counterTocLevel2) ". ";
        white-space: nowrap;
        padding-right: 5px;
    }

    #list-toc-generated .toc-element-level-3:not(.no-counter){ 
        counter-increment: counterTocLevel3; 
        counter-reset: counterTocLevel4;
    }

    #list-toc-generated .toc-element-level-3:not(.no-counter)::before{ 
        content: counter(counterTocLevel1) "." counter(counterTocLevel2) "." counter(counterTocLevel3) ". ";
        white-space: nowrap;
        padding-right: 5px;
    }

    #list-toc-generated .toc-element-level-4:not(.no-counter){ 
        counter-increment: counterTocLevel4; 
        counter-increment: counterTocLevel5; 
    }
    #list-toc-generated .toc-element-level-4:not(.no-counter)::before{ 
        content: counter(counterTocLevel1) "." counter(counterTocLevel2) "." counter(counterTocLevel3) "."counter(counterTocLevel4) ". ";
        white-space: nowrap;
        padding-right: 5px;
    }

    #list-toc-generated .toc-element-level-5:not(.no-counter){ 
        counter-increment: counterTocLevel5; 
        counter-increment: counterTocLevel6; 
    }
    #list-toc-generated .toc-element-level-5:not(.no-counter)::before{ 
        content: counter(counterTocLevel1) "." counter(counterTocLevel2) "." counter(counterTocLevel3) "." counter(counterTocLevel4) "." counter(counterTocLevel5) ". ";
        white-space: nowrap;
        padding-right: 5px;
    }

    #list-toc-generated .toc-element-level-6:not(.no-counter){ 
        counter-increment: counterTocLevel6; 
    }
    #list-toc-generated .toc-element-level-6:not(.no-counter)::before{ 
        content: counter(counterTocLevel1) "." counter(counterTocLevel2) "." counter(counterTocLevel3) "." counter(counterTocLevel4) "." counter(counterTocLevel5) "." counter(counterTocLevel6) ". ";
        white-space: nowrap;
        padding-right: 5px;
    }
