:root{
    --font:'Brill', serif;
    --font-sans: 'Work Sans', sans-serif;

    --font-size: 17px;
    --font-size-small: 13px;

    --baseline: 24px;
}

body{
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--baseline);
}

sup{
    line-height: 0;
}