*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




@import "../fonts/Brill_webfont/stylesheet.css";
@import "../fonts/WorkSans_webfonts/stylesheet.css";


@import "modules/var.css";
@import "modules/layout.css";
@import "modules/text.css";
@import "modules/figure.css";
@import "modules/footnotes.css";
@import "modules/sidenotes.css";
/* @import "modules/margin-notes.css"; */
@import "modules/titles-counter.css";
@import "modules/titles.css";
@import "modules/introduction-conclusion.css";
@import "modules/cover.css";
@import "modules/frontmatter.css";
@import "modules/biblio.css";
@import "modules/backmatter.css";
@import "modules/toc.css";




#fig-photocompo-2{
  --pagedjs-float-elem: next-page;
}

